<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

	<h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="titulo">Empresa XYZ</ui:insert></title>
        <h:outputStylesheet library="css" name="sistema.css" />
	</h:head>

	<h:body>
		<p:ajaxStatus styleClass="ajax-status">
			<f:facet name="start">
				<h:graphicImage library="imagens" name="carregando.gif"/>
			</f:facet>
			<f:facet name="complete">
				<h:outputText value=""/>
			</f:facet>
		</p:ajaxStatus>

		<header>
			<div style="float: left">
				<h:link outcome="/Home">
					<h:graphicImage library="imagens" name="ufg_logo.jpg" />
				</h:link>
			</div>

			<div style="clear: both"></div>
		</header>

		<div id="conteudo">
			<ui:insert name="corpo"/>
		</div>

		<p:separator style="margin-top: 20px"/>

		<footer>
			TCC - Pensando em Entrega Contínua antes do primeiro commit.<br/>
			Aluno: Bruno Nogueira de Oliveira
		</footer>
	</h:body>

</html>

