<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Novo cliente</ui:define>

    <ui:define name="corpo">
    	<!-- <f:metadata>
			 <o:viewParam name="cliente" value="#{cadastroClienteBean.cliente}" />
		</f:metadata> -->

    	<h1>Novo cliente</h1>

    	<h:form id="frmCadastro">
    		<p:messages id="messages" autoUpdate="true" closable="true" />

	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Salvar" id="botaoSalvar" update="frmCadastro" action="#{cadastroClienteBean.salvar}"/>
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
					<p:button value="Pesquisa" outcome="/pages/PesquisaClientes.xhtml"/>
				</p:toolbarGroup>
	    	</p:toolbar>

			<p:panelGrid columns="2" id="painel" style="width: 100%" columnClasses="rotulo, campo">
				<p:outputLabel value="Código" for="codigo"/>
			    <p:inputText id="codigo" size="20" maxlength="20" readonly="true"
			    		value="#{cadastroClienteBean.cliente.id}"/>

			    <p:outputLabel value="Nome:" for="nome"/>
	    		<p:inputText id="nome" size="20" maxlength="50" required="true"
	    				value="#{cadastroClienteBean.cliente.nome}"/>

			    <p:outputLabel value="Telefone:" for="telefone"/>
			    <p:inputMask id="telefone" mask="(99) 9999-9999" required="true"
			    		value="#{cadastroClienteBean.cliente.telefone}"/>

			    <p:outputLabel value="Email:" for="email"/>
			    <p:inputText id="email" size="20" maxlength="50" required="true"
			    		value="#{cadastroClienteBean.cliente.email}"/>

			</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>