<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Clientes</ui:define>

    <ui:define name="corpo">
    	<h1>Clientes</h1>

    	<h:form id="frmPesquisa">
    		<p:messages id="messages" autoUpdate="true" closable="true" />

    		<p:toolbar style="margin-top: 20px">
    			<p:toolbarGroup>
    				<p:button value="Novo" id="botaoNovo" outcome="/pages/CadastroCliente.xhtml"/>
    			</p:toolbarGroup>
    		</p:toolbar>

	    	<p:dataTable id="clientesTable" value="#{pesquisaClientesBean.clientes}" var="cliente"
		    		style="margin-top: 20px" emptyMessage="Nenhum cliente encontrado." rows="20"
		    		paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
		    		<p:column headerText="Código" style="text-align: center; width: 85 px">
		    			<h:outputText value="#{cliente.id}" />
		    		</p:column>
		    		<p:column headerText="Nome">
		    			<h:outputText value="#{cliente.nome}"/>
		    		</p:column>
		    		<p:column headerText="Telefone">
		    			<h:outputText value="#{cliente.telefone}" />
		    		</p:column>
		    		<p:column headerText="Email">
		    			<h:outputText value="#{cliente.email}" />
		    		</p:column>
		    </p:dataTable>
	    </h:form>
    </ui:define>
</ui:composition>